.select2-selection__choice {
    background-color: #0c525d !important;
}

.select2-container--default .select2-dropdown .select2-search__field:focus,
.select2-container--default .select2-search--inline .select2-search__field:focus {
border: none !important;
}

.alert-danger {
    margin-top: 5px;
    padding: 3px 10px;
}
